<!-- @dsCard group="Components" name="Táblázat" subtitle="Átláthatóság oldal: beszámolók és dokumentumok" viewport="720x380" -->
<!doctype html><html lang="hu"><head><meta charset="utf-8"><title>Táblázat</title><link rel="stylesheet" href="../styles.css"></head><body><div style="padding:32px">
<table class="table"><thead><tr><th>Dokumentum</th><th>Év</th><th>Formátum</th><th></th></tr></thead><tbody>
<tr><td>Közhasznúsági beszámoló</td><td>2025</td><td>PDF</td><td><a class="link-arrow" href="#">Letöltés</a></td></tr>
<tr><td>Közhasznúsági beszámoló</td><td>2024</td><td>PDF</td><td><a class="link-arrow" href="#">Letöltés</a></td></tr>
<tr><td>Alapszabály</td><td>2023</td><td>PDF</td><td><a class="link-arrow" href="#">Letöltés</a></td></tr>
<tr><td>Adatvédelmi tájékoztató</td><td>2026</td><td>PDF</td><td><a class="link-arrow" href="#">Letöltés</a></td></tr>
</tbody></table></div></body></html>
